<div class="container">
  <h3 class="text-center">Your drafted Articles:</h3>
  <% if @draft_articles.empty? %>
    <div class="card text-center" style="margin: 4em 10em 0 10em">
      <!--      <h5>No Drafted Articles yet. <%#= link_to 'Add New Article', new_article_path %></h5>-->
      <h5>No Drafted Articles!</h5>
    </div>
  <% else %>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped table-bordered">
          <thead class="thead-dark">
          <tr>
            <th>Article Name</th>
            <th>Penned Date</th>
            <% if current_user.admin? || current_user.editor? %>
              <th>Article Writer</th>
              <th></th>
            <% end %>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @draft_articles.each do |da| %>
            <tr>
              <td><%= da.name %></td>
              <td><%= da.created_at %></td>
              <% if current_user.admin? || current_user.editor? %>
                <td><%= User.find(da.user_id).first_name.capitalize %></td>
                <td><%= link_to 'Publish', publish_article_path(article_id: da), method: :post, confirm: 'Publish this article?' %></td>
              <% end %>
              <td><%= link_to 'Read Article . . .', article_path(da) %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
  <div>
    <%= link_to 'Draft a new article →', new_article_path, class: 'btn btn-info' %>
  </div>
</div>
