<div class="container">
  <div class="card card-center" style="margin: 0.5em 10em 10em 10em">
    <h4 class="text-center"><%= value %> Article:</h4>
    <%= form_with model: article do |f| %>
      <div class="form-row">
        <div class="form-group col-md-5" style="margin-left: 0.5em">
          <%= f.text_field :name, class: 'form-control' %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-10" style="margin-left: 0.5em">
          <%= f.text_area :content, class: 'form-control' %>
        </div>
      </div>

      <div class="actions" style="margin: 0.5em">
        <%= f.submit value == 'New' ? 'Draft':'Update', class: 'btn btn-info' %>
      </div>
    <% end %>
  </div>
</div>
