<div class="container">
  <h3 class="text-center">Published Articles:</h3>
  <% if @published_articles.empty? %>
    <div class="card text-center" style="margin: 4em 10em 0 10em">
      <h5>No Published Articles yet!</h5>
    </div>
  <% else %>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped table-bordered">
          <thead class="thead-dark">
          <tr>
            <th>Article Name</th>
            <th>Writer Name</th>
            <th>Penned Date</th>
            <th></th>
            <% if user_signed_in? && (current_user.admin? || current_user.editor?) %>
              <th></th>
            <% end %>
          </tr>
          </thead>
          <tbody>
          <% @published_articles.each do |pa| %>
            <tr>
              <td><%= pa.name %></td>
              <td><%= pa.author %></td>
              <td><%= pa.created_at %>></td>
              <td><%= link_to 'Read . . .', article_path(pa) %></td>
              <% if user_signed_in? && (current_user.admin? || current_user.editor?) %>
                <td>
                  <%= link_to 'Unpublish', unpublish_article_path(article_id: pa), method: :post, confirm: 'Unpublish this article?' %>
                </td>
              <% end %>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</div>
